root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 8

[*.{py,rs}]
indent_size = 4

[{Makefile,*.{go,mk}}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.{manifest,vcxproj,sln}]
charset = utf-8-bom